<!doctype html>
<html lang="{{ page.lang | default: site.lang | default: 'it' }}" class="no-js">
  {%- include head.html -%}
  <body id="top" class="{% if page.home %}home-page{% endif %}">
    {%- include nav.html -%}
    <main id="main-content">{{ content }}</main>
    {%- include footer.html -%}
    <button class="scroll-top" type="button" data-scroll-top aria-label="{{ t.footer.back_top }}">
      <svg class="icon" aria-hidden="true"><use href="/assets/img/icons.svg#icon-arrow-up-right"></use></svg>
    </button>
  </body>
</html>
